// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#Question {
  background-color: #F7F7F7;
  border-left: 5px gray solid;
  padding: 5px;
  margin-bottom: 10px;
}

#Answer {
  background-color: #FFFEE1;
  border-left: 5px gray solid;
  padding: 5px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: blue;
  &:hover {
    color: black;
  }
}
